<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167414078992-k2iakh60camqjloq4ajc1uma9vc9qbgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167414078992-k2iakh60camqjloq4ajc1uma9vc9qbgj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtoled3-FahruFxdTNfF3fqqkW42job6k</string>
	<key>GCM_SENDER_ID</key>
	<string>167414078992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStarterRiverpod</string>
	<key>PROJECT_ID</key>
	<string>simple-auth-2c527</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-auth-2c527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167414078992:ios:35c6cadcf36e68b43af495</string>
</dict>
</plist>